/* Main Styling */
* {
  font-family: Russo One;
  background: #29293d;
  color: white;
  font-weight: 300;
  margin: 0;
  padding: 0
}

body {
  display: flex;
  height: 701px;
  overflow: hidden
}

h1 {
  border: none;
  display: flex;
  font-size: 50px;
  justify-content: center;
}

h2 {
  align-items: center;
  justify-content: center;
  border: none;
  display: flex;
}

h3 {
  font-size: 29px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #4d194d;
  margin-bottom: 7px;
}

h4 {
  font-size: 22px;
  background: #4d194d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

img {
  width: 51%;
  height: 48%;
}

/* Game Type Selection BTNS*/
.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 76%;
}

.game-type-button {
  background-color: #14141f;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 300px;
  margin: 20px auto;
  width: 300px;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.game-type-button p {
  background-color: #14141f;
}

.game-type-button:hover {
  background-color: #0a0a0f;
}

.game-type-button:hover p {
  background-color: #0a0a0f;
}

/* User & Computer Sections */
.user-section {
  display: flex;
  flex-direction: column;
  background: #4d194d;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  width: 12%;
  border-right: 6px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  height: 115vh;
  border-image-slice: 1;
  ;
}

.computer-section {
  display: flex;
  flex-direction: column;
  background: #4d194d;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  width: 12%;
  border-left: 6px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 115vh;
}

/* Change Game Button & Clear Score Button*/
.change-game-btn {
  background-color: #14141f;
  border: solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 65px;
  margin: 100px auto;
  width: 115px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.clear-score-btn {
  background-color: #14141f;
  border: solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: 65px;
  margin: 100px auto;
  width: 115px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Classic Game  */
.classic-game {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  grid-template-areas:
    "a a b b"
    ". c c ."
    ". . . .";
}

.classic-game-choices {
  width: 76%;
}

.button-classic-rock {
  grid-area: a;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-classic-paper {
  grid-area: b;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-classic-scissors {
  grid-area: c;
  border: none;
  cursor: pointer;
  padding: 0;
}

.winner-wrap-classic {
  width: 70%;
  margin-left: 12%;
  margin-right: 12%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.result-text-classic {
  align-items: center;
  justify-content: center;
  border: none;
  display: flex;
  color: white;
  font-size: 25px;
}

/* Difficult Game */
.difficult-game {
  align-items: center;
  justify-content: center;
  display: grid;
  margin-right: 12%;
  margin-top: 10%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  grid-template-areas:
    ". a a b b c c"
    ". . d d e e ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}

.difficult-game-choices {
  width: 76%;
}

.button-difficult-rock {
  grid-area: a;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-difficult-paper {
  grid-area: b;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-difficult-scissors {
  grid-area: c;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-difficult-lizard {
  grid-area: d;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-difficult-alien {
  grid-area: e;
  border: none;
  cursor: pointer;
  padding: 0;
}

.result-text-difficult {
  align-items: center;
  justify-content: center;
  border: none;
  display: flex;
  color: white;
  font-size: 25px;
}

.winner-wrap-difficult {
  width: 70%;
  margin-left: 14%;
  margin-right: 12%;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Hidden  */
.hidden {
  display: none;
}
